body { background-color: rgb(29, 192, 247);
text-align: center; }

#butao{
    height: 200px;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}